<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<form th:action="@{/process/login}" method="post" th:object="${logindata}">
  <div class="imgcontainer">
    <img th:src="@{/images/avatar3.jpg}" alt="Avatar" class="avatar">
  </div>
<div class="text-center" style="text-align: center;">
  <h1>login</h1>
</div>
  <div class="container">
    <label for="uname"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="uname" th:field="*{username}"
                th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''">
            <div th:if="${#fields.hasErrors('username')}" class="invalid-feedback">
        <p th:each="error : ${#fields.errors('username')}" th:text="${error}"style="color: yellow;"></p>
    </div>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" th:field="*{password}"
                th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''">
            <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
                <p th:each="error : ${#fields.errors('password')}" th:text="${error}"style="color: yellow;"></p>
            </div>


    <button type="submit">Login</button>
    
  </div>

  <div class="container" style="background-color:rgb(0, 64, 64)">
    <a th:href="@{/signin}" style="background-color: dodgerblue"><button type="button" class="cancelbtn" >Sign-up</button></a>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>

</body>
</html>